/* share style  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.btn{
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #FD6E0A;
    padding: 18.28px 35px 19.3px 36px ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* main style  */
.logo h2{
    font-size: 45px;
    font-weight: 800;

}
.orange{
    color: #FD6E0A;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
nav{
    max-width: 1249px;
    width: 78%;
    /* border: 3px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .manu{
    display: flex;
    gap: 51px;
    align-items: center;

}
.manu li{
    list-style: none;
}
.manu li a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
#bannar{
    /* border: 3px solid tomato; */
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#bannar .bannar-content{
    max-width: 585px;
}
#bannar .bannar-content h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;

}
#bannar .bannar-content h1{
    font-size: 85px;
    font-weight: 800;
    color: black;
    margin-bottom: 20px;
}
#bannar .bannar-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#bannar .bannar-image img{
    max-width: 584px;
    vertical-align: middle;
}