/* share style  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.btn{
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #FD6E0A;
    padding: 18.28px 35px 19.3px 36px ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #757575;
}
/* main style  */
.logo h2{
    font-size: 45px;
    font-weight: 800;

}
.orange{
    color: #FD6E0A;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
nav{
    max-width: 1249px;
    width: 78%;
    /* border: 3px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .manu{
    display: flex;
    gap: 51px;
    align-items: center;

}
.manu li{
    list-style: none;
}
.manu li a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
#bannar{
    /* border: 3px solid tomato; */
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#bannar .bannar-content{
    max-width: 585px;
}
#bannar .bannar-content h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;

}
#bannar .bannar-content h1{
    font-size: 85px;
    font-weight: 800;
    color: black;
    margin-bottom: 20px;
}
#bannar .bannar-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#bannar .bannar-image img{
    max-width: 584px;
    vertical-align: middle;
}
/* about */
#about{
    padding: 130px ;
}
#about .about-container{
    padding: 131px 157px;
    max-width: 1140px;
    width: 71%;
    margin: 0 auto;
    text-align: center;
    color: FFF8F3;
    background-color: #FFF8F3;
}
#about .about-container .about-info{
    display: flex;
    /* gap: 50px; */
    justify-content: space-around;
}
.about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #757575;

}
.about-info .info-card h4{
    font-size: 20px;
}
/* skills */
#skills{
    padding-top: 130px;
}
#skills .skills-container{
    max-width: 1140px;
    width: 71%;
    margin: 0 auto;
}
#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;

}
.skill-box .skill-card{
    padding: 30px;
    max-width: 247px;
    box-shadow: 0px 6px 50px 0px black;
}
.skill-card img{
    width: 44px;
}